<div class = "left">
  <ul #progress>
      <li><div   Class ="node green"></div><p>define Objective</p></li>
      <li><div  class="divider grey"></div></li>
      <li><div  #2 class="node grey"></div><p>KRA</p></li>
      <li><div  class="divider grey"></div></li>
      <li><div #3 class="node grey"></div><p>WEIGHTAGE & PRIVACY</p></li>
      <li><div  class="divider grey"></div></li>
      <li><div #4 class="node grey"></div><p>SUBMIT</p></li>
        
  </ul>
  

  <div><button (click)="classReturn()">Progress</button></div>